* {
  scroll-behavior: smooth;
}

:root {
  --accent: #4698b0;
  --accent-dark: #fab2ea;
  --black: 40, 38, 44;
  --gray: 183, 200, 181;
  --gray-light: 251, 251, 242;
  --gray-dark: 40, 38, 44;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 1px 6px rgba(88, 88, 88, 0.15),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

html {
  background-color: #ffffff;
  color: #28262c;
  --accent: #fab2ea;
  --black: #1f1d24;
  --white: #ffffff;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Dream";
  src: url("/fonts/Dream.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

nav {
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Classic drop shadow */
  font-family: "Dream";
}

html.dark {
  background-color: #272232;
  color: #ffffff;
  --accent: #93a391;
  --white: #28262c;
  --black: hsl(0, 0%, 100%);
}
.dark .nav-links a {
  color: #ffffff;
}

time {
  display: none;
}

.mobile-menu {
  margin-top: 72px;
  position: fixed;
}

.hero-gradient {
  /* background: linear-gradient(
      180deg,
      rgba(6, 6, 6, 0.3) 3%,
      rgba(28, 28, 28, 0.579) 98%
    ),
    url("/hero.png"); */
  background-image: url("kiss.jpg");
  background-position: center 24%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

.pattern {
  position: relative;
}

.pattern::before {
  content: "";
  background: url("/pattern.svg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2; /* Adjust this value to change the transparency */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: ;
}

.cactus {
  background-image: url("/public/cactus.svg");
  background-size: 1000px;
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
  font-family: "Dream";
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
}
a:hover {
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* BUTTON  */

.my-button {
  background: var(--accent);
}

.my-button::before {
  content: "";
  position: absolute;
  margin: auto;
  width: 0%;
  height: 0%;
  background: var(--accent);
  transition: 0.5s ease-out;
  border-radius: 100% 100% 100% 100%;
  opacity: 0%;
}

.my-button:hover:before {
  width: 500px;
  height: 500px;
  transition: 0.5s ease-out;
  border-radius: 0;
  animation: opacity-in 0.7s forwards ease-out;
}

.my-button:hover {
  animation: bouncerino-in 0.5s forwards alternate ease-out;
}
.my-button:hover:p {
  transform: scale(5);
  transition: 0.7s ease-out;
}

.my-button {
  animation: bouncerino-out 0.5s;
}
@keyframes bouncerino-in {
  100% {
    transform: scale(1.075);
  }
  70% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1.075);
  }
  40% {
    transform: scale(1.09);
  }
}

@keyframes bouncerino-out {
  100% {
    transform: scale(1);
  }
  0% {
    transform: scale(1.075);
  }
}

@keyframes opacity-in {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr; /* default to 1 column for mobile */
  gap: 1rem;
}

/* This media query applies when the screen width is 768px or more (typical breakpoint for tablets and desktops) */
@media (min-width: 768px) {
  .photo-gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  }

  .photo-gallery img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }

  .photo-gallery img.selected {
    transform: scale(1.3);
    box-shadow: var(--box-shadow);
  }
}

.photo-gallery img {
  width: 100%;
  height: 200px; /* adjust this value as needed */
  object-fit: cover; /* this will ensure that the image covers the full area of the container without distorting its aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.photo-gallery img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.photo-gallery img.selected {
  transform: scale(1.3);
  box-shadow: var(--box-shadow);
}
