* {
  scroll-behavior: smooth;
}

:root {
  --accent: #a14a76;
  --accent-dark: #fab2ea;
  --black: 40, 38, 44;
  --gray: 183, 200, 181;
  --gray-light: 251, 251, 242;
  --gray-dark: 40, 38, 44;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

html {
  background-color: #fbfbf2;
  color: #28262c;
  --accent: #fab2ea;
  --black: #28262c;
  --white: #fbfbf2;
}

html.dark {
  background-color: #28262c;
  color: #fbfbf2;
  --accent: #93a391;
  --white: #28262c;
  --black: #fbfbf2;
}

.dark .nav-links a {
  color: #fbfbf2;
}

.hero-gradient {
  background: linear-gradient(
      180deg,
      rgba(6, 6, 6, 0.3) 3%,
      rgba(28, 28, 28, 0.579) 98%
    ),
    url("/hero.png");
  background-position: top center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

.pattern {
  position: relative;
}

.pattern::before {
  content: "";
  background: url("/pattern.svg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2; /* Adjust this value to change the transparency */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@font-face {
  font-family: "Beth";
  src: url("/fonts/BethEllen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.josefin {
  font-family: "Josefin", sans-serif;
}

body {
  font-family: "Josefin", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: "Beth", sans-serif;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
  font-family: "Josefin", sans-serif;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
}
a:hover {
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
