---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Our Love Story"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/engagement.jpg"
>
  <p>
    The look in your eyes is sweet and its shining and i cant look away even if
    i tried and the glow of your skin is bright and its shining and i better be
    careful or it will make me go blind cause youre the most beautiful woman
    that i ever saw and we fell in love right under the stars out in the desert
    on a cold texas night, if i could hold ytou forever everything is alright
  </p>
</Layout>

<style>
  .date {
    display: none;
  }
</style>
