---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Love Story"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 14 2021")}
  heroImage="/engagement.jpg"
>
  <p>
    Our love story began when I sent Riley a message on Bumble. I had moved from
    San Francisco to Austin during COVID, looking to explore a new city and had
    intended to stay for only about six to eight months. That’s when Riley came
    into my life.
  </p>

  <p>
    Our first date was at Radio in South Austin. From the moment we met, we fell
    in love—well at least I did. Andie was so beautiful in her little pink Chuck
    Taylor’s, drinking her West Coast IPA.
  </p>

  <p>
    We started dating casually, seeing each other every now and then, but I was
    super busy, always traveling. Riley was also very busy, touring with the
    Lewd Dudes from Texas to Florida.
  </p>

  <p>
    Even with the many trips and extracurriculars, we found time to make it
    work. For me, my feelings for Riley became really real on his birthday. We
    went to a punk rock show and, on our way to another live music venue, we
    sang "Wow, I Can Get Sexual Too" by Say Anything in the car, although Riley
    doesn’t remember that. From that point on, I wanted to be around him every
    single day. He couldn’t get rid of me.
  </p>

  <p>Yeah, I couldn’t get rid of her.</p>

  <p>
    Riley invited me on a road trip to Terlingua for a chili cook-off. It
    would’ve been both of our first times attending. Somewhere between a
    laughter-filled meal at Cowboy Camp and two-stepping to Mike and the
    Moonpies, Terlingua became one of our most favorite places as it’s where we
    both believe we really fell in love.
  </p>

  <p>
    We were giggling on the hill after dinner. We both laid down under the
    stars, looked at each other, and Riley told me he was starting to feel
    something. I said I was starting to feel something too. Then Riley said, "I
    think it’s love."
  </p>

  <p>Later that night, it was clear: it was love.</p>

  <p>
    I even wrote a song about Andie that night, which I may even finish and
    record someday.
  </p>

  <p>
    From there on out, we made a home together with our poodle, Tico, and our
    three chickens, Dos, Eggies, and Tecate. We love to travel and explore new
    places. Some of our favorite trips together include Spain, Mexico, and
    Boston to visit Papa Eliot.
  </p>

  <p>
    When we are home in Austin we try new food (dining out and cooking at home),
    enjoy live music (especially when Riley is playing) and go on runs and bike
    rides. We both equally enjoy spending time with our family and travel to
    Dallas/Fort Worth and California quite often.
  </p>

  <p>
    Riley proposed to me under the Golden Gate Bridge in San Francisco in
    February 2024.
  </p>

  <p>
    I planned the entire trip without telling her anything, and although she
    loves making the plans, this time it was my turn. We hopped on a flight to
    SFO, had brunch at her favorite spot in The Haight, made our way to the
    Battery and proposed on a cliff overlooking the bay, our families waiting
    below on the beach.
  </p>

  <p>
    And that’s our love story. We’re so excited to share this journey with all
    of you.
  </p>

  <!-- <p>
    The look in your eyes is sweet and compelling and i cant look away even if i
    tried and the glow of your skin is bright and its shining and i better be
    careful or it will make me go blind cause youre the most beautiful woman
    that i ever saw and we fell in love right under the stars out in the desert
    on a cold texas night, if i could hold you forever everything is alright
  </p> -->
</Layout>

<style>
  .date {
    display: none;
  }

  p {
    margin: 20px 0;
  }
</style>
