---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Faq from "../components/Faqs";
import Rsvp from "../components/Rsvp";
import TopNav from "../components/TopNav";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header /> -->
    <TopNav />
    <div
      class="bg-[url('/hero.png')] bg-cover bg-center h-[80svh] flex items-center justify-center"
    >
    </div><Rsvp client:load />
    <Faq client:load />

    <Footer />
  </body>
</html>
