---
const today = new Date();
---

<footer class="flex flex-col justify-center align-center items-center">
  &copy; 2025 Riley and Andie
  <p class="text-sm">
    Built by <a class="text-[var(--accent)" href="https://rileysklar.io"
      >Riley</a
    > with Astro 🚀 styled with Tailwind.
  </p>
</footer>
