---
const today = new Date();
---

<footer class="flex flex-col justify-center align-center items-center p-8">
  <div
    class="p-4 bg-[var(--accent)] text-[var(--white)] cactus w-full rounded-lg flex flex-col justify-center align-center items-center"
  >
    <p class="text-sm mb-0 text-center">
      Built by <a
        class="text-[var(--white)] underline"
        href="https://rileysklar.io">Riley</a
      > with Astro 🚀 & Tailwind.
    </p><p class="text-sm mb-0">Designed by Andie &copy; 2025</p>
  </div>
</footer>
